Separando ações de interesse

In [1]:
import os
import numpy as np
import pandas as pd

input_path = os.path.join('data', 'mocked_market_stocks.csv')
df = pd.read_csv(input_path, sep=",", parse_dates=["File_Date"])
df = df[df['Company'] == "AAPL"]

# df["Datetime"] = df["Date"] + " " + df["Time"]
# df["Datetime"] = pd.to_datetime(df["Datetime"])
# df = df.drop(["Date", "Time"], axis=1)
df = df.drop(["Date"], axis=1)

# df = df[['File_Date', 'Datetime', 'Shares_Top_of_Book', 'Prices_Top_of_Book', 'Transaction_type']]
df = df[['File_Date', 'Time', 'Number_of_Shares_Sold', 'Price_of_One_Share', 'Transaction_type']]

df = df.rename({'Number_of_Shares_Sold':'Shares'}, axis=1)
df = df.rename({'Price_of_One_Share':'Prices'}, axis=1)
df = df.rename({'Transaction_type':'Type'}, axis=1)

df = df.sort_values(by="File_Date")

df.head(11)

              File_Date      Time  Shares     Prices  Type
90  2021-12-01 09:30:00  09:29:52       3  50.229802  bids
91  2021-12-01 09:30:00  09:29:55     253  49.909549  bids
92  2021-12-01 09:30:00  09:29:57     100  49.865604  bids
93  2021-12-01 09:30:00  09:29:58       4  49.463831  bids
94  2021-12-01 09:30:00  09:29:59      36  49.409480  bids
95  2021-12-01 09:30:00  09:29:49     100  50.358234  asks
96  2021-12-01 09:30:00  09:29:52     100  50.178390  asks
97  2021-12-01 09:30:00  09:29:55     820  50.722098  asks
98  2021-12-01 09:30:00  09:29:56     100  48.999970  asks
99  2021-12-01 09:30:00  09:29:57       2  49.145259  asks
109 2021-12-01 09:35:00  09:34:58     100  49.642267  asks

In [2]:
df2 = df.groupby(['File_Date', 'Type']).agg({'Shares': list, 'Prices': list}).reset_index()
df2 = df2.pivot(index='File_Date', columns='Type').reset_index()
df2.columns = ['_'.join(col).rstrip('_') for col in df2.columns.values]

for col in df2.columns:
    temp_df = pd.DataFrame(df2[col].tolist())
    temp_df.columns = [f"{col}_{i}" for i in range(len(temp_df.columns))]
    df2 = pd.concat([df2.drop(col, axis=1), temp_df], axis=1)

df2.drop(['File_Date_0'], axis=1, inplace=True)

rules = {'Prices': 'P', 'Shares': 'S', '_bids': 'B', '_asks': 'A'}
for pre, post in rules.items():
    df2.columns = df2.columns.str.replace(pre, post)

print(df2.head(10))

   SA_0  SA_1  SA_2  SA_3  SA_4  SB_0  SB_1  SB_2  SB_3  SB_4       PA_0  \
0   100   100   820   100     2     3   253   100     4    36  50.358234
1   100   100   100   100    66   100     7    50    40   100  49.642267
2     7   123   100   850   100   100     5     1   100    50  50.142396
3    55    36   100     6   100    26    50    17   100   100  51.199719
4     8    40   100   100     6     5   100     6   100   100  50.957597
5    15    80   100     1   100     6    12    27   100    82  50.443048
6     1    26   100   100    50    50   100   100   100   100  51.277193
7   260   100   100   100   100   100    90    73   100    14  51.571006
8   100    24   100     6   100    72   100   100   100    50  51.413662
9   100     7    29     8    38     1   100    22   100   100  52.458788

        PA_1       PA_2       PA_3       PA_4       PB_0       PB_1  \
0  50.178390  50.722098  48.999970  49.145259  50.229802  49.909549
1  50.453023  49.886232  49.083358  49.680085  49.692246  49.832368
2  50.220826  49.613058  49.094066  48.724758  50.273261  49.384562
3  51.077946  51.386480  52.316317  51.135998  51.062702  51.490869
4  51.177869  51.311124  51.260386  51.245196  50.348372  51.276967
5  51.058492  50.834556  50.247703  51.725646  51.761662  51.435314
6  51.346832  51.599406  51.378316  51.614672  51.720570  51.579554
7  51.432260  52.627057  52.846887  50.588890  51.940452  51.615469
8  51.321603  50.937190  51.836456  51.973664  51.965908  51.924858
9  53.007541  53.686295  53.834566  52.980256  52.957391  53.185435

        PB_2       PB_3       PB_4
0  49.865604  49.463831  49.409480
1  50.206697  49.584311  49.463488
2  49.141133  49.483664  49.965395
3  50.935325  51.722331  50.495742
4  52.217720  51.120842  50.540865
5  50.034279  51.032396  51.036033
6  51.836562  51.674005  51.505982
7  51.898600  51.281915  51.913789
8  50.933114  50.877986  51.295365
9  53.472613  54.350166  53.182634

In [3]:
window = 3
df_lag = df2.copy()
for i in range(1, window+1):
    temp_df = df2.shift(i)
    temp_df.columns = [f'{col}_{i}' for col in temp_df.columns]
    df_lag = pd.concat([df_lag, temp_df], axis=1)

df2 = df_lag.dropna(inplace=False)
print(df2.head(10))
print(df2.columns)

    SA_0  SA_1  SA_2  SA_3  SA_4  SB_0  SB_1  SB_2  SB_3  SB_4  ...  \
3     55    36   100     6   100    26    50    17   100   100  ...
4      8    40   100   100     6     5   100     6   100   100  ...
5     15    80   100     1   100     6    12    27   100    82  ...
6      1    26   100   100    50    50   100   100   100   100  ...
7    260   100   100   100   100   100    90    73   100    14  ...
8    100    24   100     6   100    72   100   100   100    50  ...
9    100     7    29     8    38     1   100    22   100   100  ...
10    32   100   790   100   100   100     1     2    50     8  ...
11    43    25     4    31   100    40   100    50    54    50  ...
12     8     1   100    17    50   100    14    37    46    16  ...

       PA_0_3     PA_1_3     PA_2_3     PA_3_3     PA_4_3     PB_0_3  \
3   50.358234  50.178390  50.722098  48.999970  49.145259  50.229802
4   49.642267  50.453023  49.886232  49.083358  49.680085  49.692246
5   50.142396  50.220826  49.613058  49.094066  48.724758  50.273261
6   51.199719  51.077946  51.386480  52.316317  51.135998  51.062702
7   50.957597  51.177869  51.311124  51.260386  51.245196  50.348372
8   50.443048  51.058492  50.834556  50.247703  51.725646  51.761662
9   51.277193  51.346832  51.599406  51.378316  51.614672  51.720570
10  51.571006  51.432260  52.627057  52.846887  50.588890  51.940452
11  51.413662  51.321603  50.937190  51.836456  51.973664  51.965908
12  52.458788  53.007541  53.686295  53.834566  52.980256  52.957391

       PB_1_3     PB_2_3     PB_3_3     PB_4_3
3   49.909549  49.865604  49.463831  49.409480
4   49.832368  50.206697  49.584311  49.463488
5   49.384562  49.141133  49.483664  49.965395
6   51.490869  50.935325  51.722331  50.495742
7   51.276967  52.217720  51.120842  50.540865
8   51.435314  50.034279  51.032396  51.036033
9   51.579554  51.836562  51.674005  51.505982
10  51.615469  51.898600  51.281915  51.913789
11  51.924858  50.933114  50.877986  51.295365
12  53.185435  53.472613  54.350166  53.182634

[10 rows x 80 columns]
Index(['SA_0', 'SA_1', 'SA_2', 'SA_3', 'SA_4', 'SB_0', 'SB_1', 'SB_2', 'SB_3',
       'SB_4', 'PA_0', 'PA_1', 'PA_2', 'PA_3', 'PA_4', 'PB_0', 'PB_1', 'PB_2',
       'PB_3', 'PB_4', 'SA_0_1', 'SA_1_1', 'SA_2_1', 'SA_3_1', 'SA_4_1',
       'SB_0_1', 'SB_1_1', 'SB_2_1', 'SB_3_1', 'SB_4_1', 'PA_0_1', 'PA_1_1',
       'PA_2_1', 'PA_3_1', 'PA_4_1', 'PB_0_1', 'PB_1_1', 'PB_2_1', 'PB_3_1',
       'PB_4_1', 'SA_0_2', 'SA_1_2', 'SA_2_2', 'SA_3_2', 'SA_4_2', 'SB_0_2',
       'SB_1_2', 'SB_2_2', 'SB_3_2', 'SB_4_2', 'PA_0_2', 'PA_1_2', 'PA_2_2',
       'PA_3_2', 'PA_4_2', 'PB_0_2', 'PB_1_2', 'PB_2_2', 'PB_3_2', 'PB_4_2',
       'SA_0_3', 'SA_1_3', 'SA_2_3', 'SA_3_3', 'SA_4_3', 'SB_0_3', 'SB_1_3',
       'SB_2_3', 'SB_3_3', 'SB_4_3', 'PA_0_3', 'PA_1_3', 'PA_2_3', 'PA_3_3',
       'PA_4_3', 'PB_0_3', 'PB_1_3', 'PB_2_3', 'PB_3_3', 'PB_4_3'],
      dtype='object')