In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
      "A": np.tile(["foo", "bar"], 4),
      "B": [1, 1, 2, 3, 2, 2, 1, 3],
      "C": np.random.rand(8),
      "D": np.random.rand(8)
})

In [ ]:
def nl(x):
    instrucs = ["zero", "one", "two", "three"]
    try: return instrucs[x]
    except IndexError: return "unknown"

df["B"] = df["B"].map(nl)
df

In [ ]:
df.groupby(["A", "B"]).sum()

In [ ]:
np.array([np.arange(1, 4)] * 5).T.flatten()

In [ ]:
arrays = [
   ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
   ["one", "two", "one", "two", "one", "two", "one", "two"],
]
index = pd.MultiIndex.from_arrays(arrays)

In [ ]:
df2 = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df2

In [ ]:
df2 = pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])
with pd.option_context("display.multi_sparse", False):
    print(df2)

In [ ]:
index = pd.MultiIndex.from_frame(df.loc[:, "A":"B"].sort_values("A"))

df3 = pd.DataFrame(df.loc[:, "C":"D"])
df3.index = index
df3

In [ ]:
df3 = df2.copy()
df3.set_index(df2.index.get_level_values(1), inplace=True)

df3.columns.names = ["alpha", "beta"]
df3.index.name = "delta"
df3

In [217]:
print(df2)
stacked = df2.stack(future_stack=True)
stacked

              bar                 baz                 foo
              one       two       one       two       one       two
bar one  1.409095 -0.791754  0.354024 -0.233695  0.534192 -1.024922
    two  1.203406  0.399204  0.920946 -1.997364 -0.730342  0.229002
baz one  1.580142  0.848269 -0.869630 -0.847738  0.439828  0.219251
    two -0.563354 -1.006769  0.688702  0.055826  0.200385  0.073827
foo one  0.852075 -1.561533 -0.201440 -0.502233 -0.915588 -0.023351
    two -0.509211  1.596773  0.058426  0.708371  0.703225  0.804091

                  bar       baz       foo
bar one one  1.409095  0.354024  0.534192
        two -0.791754 -0.233695 -1.024922
    two one  1.203406  0.920946 -0.730342
        two  0.399204 -1.997364  0.229002
baz one one  1.580142 -0.869630  0.439828
        two  0.848269 -0.847738  0.219251
    two one -0.563354  0.688702  0.200385
        two -1.006769  0.055826  0.073827
foo one one  0.852075 -0.201440 -0.915588
        two -1.561533 -0.502233 -0.023351
    two one -0.509211  0.058426  0.703225
        two  1.596773  0.708371  0.804091

In [218]:
df2.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [ ]:
def mklbl(prefix, n):
    return ["%s%s" % (prefix, i) for i in range(n)]

miindex = pd.MultiIndex.from_product(
    [mklbl("A", 4), mklbl("B", 2), mklbl("C", 4), mklbl("D", 2)]
)

micolumns = pd.MultiIndex.from_tuples(
    [("a", "foo"), ("a", "bar"), ("b", "foo"), ("b", "bah")], names=["lvl0", "lvl1"]
)

dfmi = (
    pd.DataFrame(
        np.arange(len(miindex) * len(micolumns)).reshape(
            (len(miindex), len(micolumns))
        ),
        index=miindex,
        columns=micolumns,
    )
    .sort_index()
    .sort_index(axis=1)
)
dfmi

In [ ]:
dfmi.loc[(slice("A1", "A3"), slice(None), ["C1", "C3"]), :]
with pd.option_context("display.multi_sparse", False):
    print(dfmi.loc[(slice("A1", "A3"), slice(None), ["C1", "C3"]), :])