In [ ]:
import numpy as np
import pandas as pd

arrays = [
   ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
   ["one", "two", "one", "two", "one", "two", "one", "two"],
]
index = pd.MultiIndex.from_arrays(arrays)

In [ ]:
df = pd.DataFrame(np.random.randn(4, 2), index=index[:4], columns=["A", "B"])
df

In [ ]:
stacked = df.stack(future_stack=True)
stacked

In [ ]:
stacked.unstack(0)

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

In [ ]:
df2 = pd.pivot_table(df, values="D", index=["A", "B"], columns="C")
df2

In [ ]:
midx = pd.MultiIndex(
    levels=[["zero", "one"], ["x", "y"]], codes=[[1, 1, 0, 0], [1, 0, 1, 0]]
)
df = pd.DataFrame(np.random.randn(4, 2), index=midx)
df

In [ ]:
df2 = df.groupby(level=0).mean()
df2

In [11]:
df2.reindbex(df.index, level=0)

               0         1
one  y  0.273998  0.019661
     x  0.273998  0.019661
zero y  0.202548 -0.196359
     x  0.202548 -0.196359

In [42]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df["grade"] = df["raw_grade"].astype("category")
new_cat = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.rename_categories(new_cat)
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [43]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [45]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good